
/* Your CSS Code here. */
table{
border-collapse: collapse;
}
thead {
  background-color: saddlebrown;
}
th, td{
border:1px solid pink;
padding:8px;
text-align:center;
}
tbody {
  background-color: lightgray;
}